.expense-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* padding: 2rem 1rem; */
	font-size: 16px;
	font-weight: bold;
	padding: 1rem;
}
.expense-filter label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}
.expense-filter select {
	background-color: white;
	font: inherit;
	padding: 0.5rem 3rem;
	font-weight: bold;
	border-radius: 6px;
}
.expense-filter option:hover,
.expense-filter option:active {
	background-color: lightskyblue;
	color: white;
}
