.expense-item {
	display: flex;
	padding: 1rem;
	background-color: grey;
	margin: 0.5rem;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	min-width: max-content;
	overflow: hidden;
}

.expense-item__title {
	flex: 1 1 0;
	font-family: inherit;
	font-size: 35px;
	font-weight: bold;
	padding: 1rem;
}

.expense-item__amount {
	padding: 0.5rem 1rem;
	border: 1px solid white;
	border-radius: 12px;
	font-family: inherit;
	font-size: 35px;
	font-weight: bold;
	background-color: darkmagenta;
	align-self: center;
}
